[submodule "submodules/forge-std"]
	path = submodules/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "submodules/openzeppelin-contracts"]
	path = submodules/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "submodules/eigenlayer-middleware"]
	path = submodules/eigenlayer-middleware
	url = https://github.com/Lay3rLabs/eigenlayer-middleware.git
