/target
out/
cache/
broadcast/
compiled/*.wasm
.docker/*.json
.docker/*.log
.env
node_modules/
lib/forge-std
lib/openzeppelin-contracts
lcov.info
internal/
wavs:worker*.wit
wavs:worker*.wasm
.nodes
avs_sync/src/contracts/abi/
aggregator/
.wavs/
.wasi-output/
.wavs-cli-data/
tests/.test-reports
infra/
.claude
.middleware-nodes
.service-output/
.DS_Store