/target
out/
cache/
broadcast/
compiled/*.wasm
.docker/*.json
.docker/*.log
.env
node_modules/
lib/forge-std
lib/openzeppelin-contracts
lcov.info
internal/
wavs:worker*.wit
wavs:worker*.wasm
.nodes
avs_sync/src/contracts/abi/
aggregator/
.wavs/
compiled/
tests/.test-reports
infra/
.claude