services:
  wavs:
    image: "${COMPOSE_WAVS_DOCKER_IMAGE:-}"
    container_name: "${COMPOSE_PROJECT_NAME:-}"
    stop_signal: SIGKILL
    environment:
      - WAVS_SIGNING_MNEMONIC=${WAVS_SIGNING_MNEMONIC:-}
      - WAVS_AGGREGATOR_EVM_CREDENTIAL=${WAVS_AGGREGATOR_EVM_CREDENTIAL:-}
      - WAVS_AGGREGATOR_COSMOS_CREDENTIAL=${WAVS_AGGREGATOR_COSMOS_CREDENTIAL:-}
    command: ["wavs", "--home", "/wavs-home", "--data", "/var/${COMPOSE_PROJECT_NAME:-}", "--port", "${COMPOSE_WAVS_PORT:-}"]
    volumes:
      - "${COMPOSE_WAVS_HOME:-}:/wavs-home"
    network_mode: "host"