[package]
name = "wavs-ipfs"
edition.workspace = true
version.workspace = true
authors.workspace = true
rust-version.workspace = true
repository.workspace = true

[dependencies]
anyhow = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
wstd = { workspace = true }
rand = { workspace = true }

## IPFS
cid = { workspace = true }
multibase = { workspace = true }
multihash = { workspace = true }
bs58 = { workspace = true }
