version: "3"

vars:
  REPO_ROOT:
    # find the root directory of the repository by looking for the `.git` directory.
    sh: git rev-parse --show-toplevel
  PROJECT_OUTPUT_DIRNAME: ".project-output"
  PACKAGES_DIR: '{{joinPath .REPO_ROOT "packages"}}'
  CONTRACTS_DIR: '{{joinPath .REPO_ROOT "contracts"}}'
  BACKEND_DIR: '{{joinPath .REPO_ROOT "backend"}}'
  ANVIL_FORK_CHAIN_ID: 31337
  # Network Configuration
  ANVIL_SEPOLIA_FORK_URL: "https://ethereum-sepolia-rpc.publicnode.com"
  ANVIL_BASE_PORT: 8548 # Base port for Anvil, subsequent ports will be incremented by 1 for each instance
  WAVS_BASE_PORT: 8123 # Base port for WAVS, subsequent ports will be incremented by 1 for each instance

  # Timeout Configuration
  HEALTH_CHECK_TIMEOUT: 5 # seconds to wait for service health checks
  WAVS_HOME_DIR: '{{joinPath .BACKEND_DIR "wavs-home"}}'
  MIDDLEWARE_CHAIN_ID: 11155111
  MIDDLEWARE_METADATA_URI: "https://raw.githubusercontent.com/Lay3rLabs/wavs-foundry-template/refs/heads/main/metadata.json"
  MIDDLEWARE_LST_CONTRACT_ADDRESS: "0x00c71b0fCadE911B2feeE9912DE4Fe19eB04ca56"
  MIDDLEWARE_LST_STRATEGY_ADDRESS: "0x8b29d91e67b013e855EaFe0ad704aC4Ab086a574"
  COMPONENTS_CARGO_RELEASE_DIR: '{{joinPath .REPO_ROOT "target/wasm32-wasip2/release"}}'
  ABI_EIGENLAYER_MIDDLEWARE_DIR: '{{joinPath .REPO_ROOT "abi/eigenlayer-middleware"}}'
  ABI_WAVS_MIDDLEWARE_DIR: '{{joinPath .REPO_ROOT "abi/wavs-middleware"}}'
  WIT_DEFINITIONS_DIR: '{{joinPath .REPO_ROOT "wit-definitions"}}'
  DOCKER_SUDO:
    sh: |
      if command -v docker >/dev/null 2>&1 && docker info >/dev/null 2>&1; then 
        echo ""
      else 
        echo "sudo"
      fi
  # TESTNET
  TESTNET_EVM_RPC_URLS: [
      "https://ethereum-sepolia-rpc.publicnode.com", # NOTE: Do not use holesky for the source chain, because we use an anvil fork for local testing.
      "${TESTNET_EVM_RPC_URL_3}", # Example using a paid endpoint
    ]
  TESTNET_EVM_CHAIN_NAMES: ["evm.11155111"]
  TESTNET_CHAIN_COUNT: 3 # Count of testnet chains in TESTNET_EVM_RPC_URLS
  ACTIVE_CHAIN_COUNT:
    sh: |
      docker ps --format '{{"{{"}}.Names{{"}}"}}' | grep 'anvil-' | wc -l | xargs
  ACTIVE_WAVS_COUNT:
    sh: |
      docker ps --format '{{"{{"}}.Names{{"}}"}}' | grep 'wavs-operator-' | wc -l | xargs
  SUBMIT_DELAY: '{{ternary 1 5 (eq .DEPLOY_ENV "LOCAL")}}'
  # Transfer Ownership Config
  AVS_OWNER: "0x1111111111111111111111111111111111111111"
  PROXY_OWNER: "0x2222222222222222222222222222222222222222"
  # Aggregator config
  AGGREGATOR_PROJECT: "aggregator-simple"
  AGGREGATOR_COMPONENT_NAME: "aggregator_simple"

tasks:
  get-signing-address:
    cmds:
      - cast wallet addr --private-key "{{.SIGNING_PRIVATE_KEY}}"
